body a.visually-hidden.focusable {
    display: none;
}

.hide-filter .views-exposed-form {
    display: none;
}

.js-form-item.form-item.form-type-select.js-form-type-select.form-item-sort-by.js-form-item-sort-by {
    display: none;
}

#views-exposed-form-media-images-page-grid #edit-submit-media-images {
    display: none;
}
.custom-gallery-sort-order label {
    color: #6A7282;
  }
  .news-bundle li, 
    .news-bundle h1,
    .special-bundle ol li,
    .special-bundle h1
    {
    color: #FFFFFF !important;
  }
  .news-details-image{
    height: 550px !important;
  }

  .copy-popup {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #333;
    color: #fff;
    padding: 8px 14px;
    border-radius: 6px;
    font-size: 14px;
    display: none;
    z-index: 9999;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  }


  .form-item-items-per-page {
    display: none;
  }

 
  .newsletter-form .fieldgroup,
  .newsletter-form .description,
  .newsletter-form #edit-message--2,
  .newsletter-form label
  
  {
    display: none !important;
  }


   .wrapper-services-header .container {
    display: none;
  }

  .wrapper-services-header:first-of-type .container {
    display: block;
  }

  .news-room-filter .form-item-offset,
  .news-room-filter label,
  .hide-wrapper,
  .news-room-filter #edit-submit-news
   {display: none;}
   
   [class^="simplenews-subscriptions-"] [id^="edit-message-"]{
    display: none !important;
   }

   .header-search [id^="edit-submit-head"]{
    display: none !important;
   }


@media (min-width: 767px) and (max-width: 1024px) {
    .form-item-service-type {
        width: 100%;
      }
}