{% set classes = [
  'bef-links',
  is_nested ? 'bef-nested'
] %}

 <div >
<div class="tabs w-[calc(100%+16px)] flex-shrink-0 overflow-auto md:w-full md:min-w-max md:overflow-hidden lg:w-auto">

    {% set is_nested = true %}
    {% for name, value in hiddens %}
      <input type="hidden" name="{{ name }}" value="{{ value }}" />
    {% endfor %}

    <div{{ attributes.removeClass('form-select').addClass(classes) }}>
      {% set current_nesting_level = 0 %}
      {% for child in children %}
        {% set item = attribute(element, child) %}

        
   {% set item = item|merge({
  '#attributes': item['#attributes']|merge({
    'class': (item['#attributes'].class|default([]))|merge([
      child in selected ? 'active' : '',
      ' block [.active]:bg-orange [.active]:text-white rounded-lg px-4 py-1 text-lg capitalize transition-all hover:bg-orange hover:text-white md:px-2 lg:px-4'

    ])
  })
}) %}


        {% set new_nesting_level = attribute(depth, child) ?? 0 %}
        {% set delta = (current_nesting_level - new_nesting_level) |abs %}

        {% if loop.first %}
<ul class="flex min-w-max items-center gap-1 rounded-[11px] border border-[#BCBCBC] p-1 lg:gap-3 xl:gap-6">

        {% else %}
          {% if delta %}
            {% for i in 1..delta %}
              {% if new_nesting_level > current_nesting_level %}
                <ul>
              {% else %}
                </ul>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endif %}

        <li class="flex-grow-1">
          {{ item }}
        {% if loop.last %}
          {% for i in new_nesting_level..0 %}
            </li></ul>
          {% endfor %}
        {% endif %}

        {% set current_nesting_level = new_nesting_level %}
      {% endfor %}
    </div>
  </div>
</div>
