<div class="testibox1" id="testimonials">
	<div class="testibox_inner">
		<div class="testi-content">
			<ul>
				<li class="text">Rating:</li>
				<li>
					<i class="fa fa-star"></i>
				</li>
				<li>
					<i class="fa fa-star"></i>
				</li>
				<li>
					<i class="fa fa-star"></i>
				</li>
				<li>
					<i class="fa fa-star"></i>
				</li>
				<li>
					<i class="fa fa-star"></i>
				</li>
			</ul>
			<p>
			{{ node.body.value|striptags|render|raw }}
			
			</p>
		</div>
		<div class="testi-top">
			<div class="testi-img">
			</div>
			<div class="testi-info">
				<h4>{{ node.title.value}}</h4>
				<h6>{{ node.field_designation.value|striptags|render|raw }}</h6>
			</div>
		</div>
	</div>
</div>
