<i class="fa-regular fa-{{ content.field_font_icon|render|striptags|trim|raw }} text-5xl text-[#99A1AF] mb-4"></i>
<h5 class="text-2xl mb-2">{{ shorter_label }}</h5>
<p class="text-[#6A7282]">
{{ body_short|render|striptags|trim|raw }}


</p>


