{# <i class="fa-regular fa-{{ content.field_font_icon|render|striptags|trim|raw }} text-5xl text-[#99A1AF] mb-4"></i> #}
<div class=" mb-4"> {{ content.field_sh_icon }} </div>
<h5 class="text-2xl mb-2">{{ shorter_label }}</h5>
<p class="text-[#6A7282]">
{{ body_long|render|striptags|trim|raw }}
</p>
