<div class="xl:pe-[70px] md:pe-10 pb-8 md:pb-0">
	<div class="flex items-center gap-6 mb-4 xl:text-6xl md:text-3xl text-5xl">
		<i class="fa-light fa-{{ content.field_growing_font_class|render|striptags|trim|raw  }} text-[#007A55]  "></i>
		<h4 class="">
			{{ content.field_sh_number|render|striptags|trim|raw  }}
		</h4>
	</div>
	<p class="text-[#4A5565]">{{ content.field_title|render|striptags|trim|raw  }}</p>
</div>
