{% if page.header %}
	{{ page.header }}
{% endif %}


  {% if page.banner %}
	{{ page.banner }}
{% endif %}


	{{ page.content }}



 
  <section id="sticky-section" class="sticky z-10 bg-[#F3F4F6]  py-5 hidden md:block    border-b-2 border-[#E5E7EB]">
    <div class="container mx-auto px-4">
      <div class="flex justify-between items-center">

        <div class="flex items-center gap-3 has-border">
          <button class="h-11 px-4 rounded-full bg-white text-sm text-[#6A7282] gap-2.5 flex items-center">
            <i class="fa-solid fa-rectangle-history"></i>
            <span>Services</span>
          </button>

          <button class="h-11 px-4 rounded-full bg-white text-sm text-[#6A7282] gap-2.5 flex items-center">
            <i class="fa-solid fa-message-exclamation"></i>
            <span>Feedback & Complaints</span>
          </button>

          <a class="h-11 px-4 rounded-full bg-white text-sm text-[#6A7282] gap-2.5 flex items-center">
            <i class="fa-solid fa-phone"></i>
            <span>Call centre 06-5017717</span>
          </a>
        </div>

        <div class="flex items-center gap-3">
          <button class="bg-white rounded-full w-11 h-11 flex items-center justify-center">
            <i class="fa-solid fa-share-nodes text-[#6A7282] text-sm"></i>
          </button>

          <button class="border-3 border-[#ADB5BB] bg-white rounded-full w-11 h-11 flex items-center justify-center">

            <i class="fa-regular fa-face-smile text-3xl "></i>
          </button>
        </div>

      </div>
    </div>
  </section>

 

 {# footer #}
{% if page.footer %}
		{{ page.footer }}
{% endif %}
